h1 {
    color: rgb(0, 51, 153);
    padding: 10px; background-color: rgb(251, 255, 0); text-align: center;
    font: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:xx-large;
    text-transform: uppercase;
}
p1 {
    color: coral; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger; line-height: normal; font: bold;
}
h2 {
    color: rgb(24, 24, 24);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main, h3, p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height:normal;
    font-size:large;
    text-align: justify;
}
img[src= "european studies.jpg"] {width: 1000px;}
img {
    border-radius: 8px;
    border: 1px solid #ddd;
}
main {
    margin-left: 50pt; margin-right: 40pt;
}
